#gameCanvas{
  margin: auto;
  border: green;
  display:block;


}

header {
  margin: 0 auto;
  display: block;
  text-align: center;


}
h1{
  font-family: 'Revalia', cursive;
  color: rgb(237, 21, 21);
  font-size: 30px;

}

body{
  background: url(http://static5.depositphotos.com/1032427/501/i/950/depositphotos_5017696-stock-photo-vintage-brick-wall-background.jpg);

}

.belowCanvas{
  margin: 0 auto;
  display:inline-block;
  padding-left: 43%;

}
h2{
  color:rgb(48, 255, 124);
  border: 3px solid rgb(252, 45, 45);
  text-align:center;
  padding: 10px;
  font-size: 27px;

}
